@page "/team"

@using DOMAIN = BallClub.Domain.Models
@using BallClub.Repositories.Interfaces
@using Microsoft.Extensions.Configuration
@inject ITeamRepository _teamRepo
@inject IConfiguration _config

<h3>Team</h3>

<button class="btn btn-primary" @onclick="InsertData">Insert</button>

@code {
    List<Team> teams;

    //protected override async Task OnInitializedAsync()
    //{
    //    string sql = "select * from teams";

    //    teams = await _data.LoadData<Team, dynamic>(sql, new { }, _config.GetConnectionString("DefaultConnection"));
    //}

    private async Task InsertData()
    {
        //string sql = "insert into team (FirstName, LastName) values (@FirstName, @LastName);";

        //await _data.SaveData(sql, new { FirstName = "Billy", LastName = "Bob" }, _config.GetConnectionString("DefaultConnection"));

        await _teamRepo.AddAsync(DOMAIN.Team.CreateTeam("Calcium"));

        //await OnInitializedAsync();
    }
}
